name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: check php version
      run: php -v

    - name: all php files syntax check
      run: find ./ -type f -name "*.php" | xargs -n1 php -l

    - name: post slack messages
      if: failure()
      uses: pullreminders/slack-action@master
      with:
        args: '{\"channel\":\"CTP90F42H\",\"text\":\"失敗通知だけでも、はたして日本語は送信できるのか？？\"}'
      env:
        SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
