name: CI

on: [push]

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: check php version
        run: php -v

  build:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
    - uses: actions/checkout@v2
    - name: all php files syntax check
      run: find ./ -type f -name '*.php' | xargs -n1 php -l
    - name: post slack messages
      if: failure()
      uses: pullreminders/slack-action@master
      env:
        SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
      with:
        args: '{\"channel\":\"CTP90F42H\",\"text\":\"GitHub/${{ github.workflow }} でエラーが発生しました - step:[all php files syntax check]\"}'

